@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    --accent-primary: rgb(22,48,49);
    --accent-gradient2: rgb(240,255,108);
    --accent-gradient1: rgb(107,253,217);
    --accent-dark: rgb(43,67,68);
    --accent-light: rgb(255,255,255);
    --accent-hover: rgb(16 185 129);
}

body {
    font-family: "Montserrat", sans-serif;
}


.section-gradient{
    background-image: linear-gradient(to right, var(--accent-gradient1) , var(--accent-gradient2));
}
.gradient{
    background-image: linear-gradient(to right, var(--accent-gradient1) , var(--accent-gradient2));
}
.gradient:hover{
    background-image: linear-gradient(to left, var(--accent-gradient1) , var(--accent-gradient2));
}
.footerbg{
    background-image: linear-gradient(to left, var(--accent-gradient1) , var(--accent-gradient2));
}

body::-webkit-scrollbar{
    width: 7px;
    background-color: #f8f8f8;
}
body::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to bottom, var(--accent-gradient2) , var(--accent-gradient1));
   
}
body::-webkit-scrollbar-thumb:active{
    background-image: linear-gradient(to top, var(--accent-gradient1) , var(--accent-gradient2));
    border-radius: 10px;
}

.textbg{
    background: linear-gradient(to right, var(--accent-gradient1) , var(--accent-gradient2));
    background-size: 100%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

.card-border-hover:hover{
    border-top: 1px solid transparent;
    border-left: 1px solid var(--accent-gradient1);
    border-right: 1px solid var(--accent-gradient2);
    border-bottom: 1px solid transparent;
    
}
.card-border{
    border-top: 1px solid transparent;
    border-left: 1px solid var(--accent-gradient1);
    border-right: 1px solid var(--accent-gradient1);
    border-bottom: 1px solid transparent;
    
}

/* body {
  cursor: none;
} */

